$resumeAccent: #373d48;
$fontSize: 12pt;

:export {
  resumeAccent: $resumeAccent;
}

@mixin textFormat {
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0.5 * $fontSize;
}

@mixin h1 {
  @include textFormat;
  font-size: 2.5 * $fontSize;
}

@mixin h2 {
  @include textFormat;
  font-size: 1.2 * $fontSize;
}

@mixin h3 {
  @include textFormat;
  font-size: $fontSize;
}

@mixin h4 {
  @include textFormat;
  font-size: $fontSize;
}

@mixin p {
  @include textFormat;
  font-size: $fontSize;
}
