$accent: #f490a0;
$textColor: #555;
$textNoteColor: #999;
$textTitleColor: #777;
$background: #fff;
$textInvertColor: #fff;
$textDecorationColor: #f5f5f5;
$secondaryFont: Lato, Helvetica, sans-serif;
$experienceSplitBreakpoint: 650px;

:export {
  accent: $accent;
  textColor: $textColor;
  textNoteColor: $textNoteColor;
  textTitleColor: $textTitleColor;
  background: $background;
  textInvertColor: $textInvertColor;
  textDecorationColor: $textDecorationColor;
  secondaryFont: $secondaryFont;
  experienceSplitBreakpoint: $experienceSplitBreakpoint;
}
