body {
  /* background: #B5B5B5; */
}

.post {
  margin-top: 4em;
  margin-bottom: 4em;
  border-bottom: 1px solid rgb(221, 221, 221);
  color: rgb(58, 58, 58);
}

.post blockquote {
  background: #eee;
}

.post pre code {
  overflow-x: auto;
}

.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
